<div class="create-question">
    <h1>Create Question</h1>
    <form [formGroup]="createQuestionForm" (submit)="saveQuestion(this.createQuestionForm.value)">
        <label for="question">Question</label>
        <input type="text" name="question" id="question" formControlName="question" required="true">
        <label for="tagSelect">Tag</label>
        <select formControlName="tag_id" id="tagSelect" name="tag_id" required="true">
            <option *ngFor="let tag of tags" [ngValue]="tag.id">{{tag.tag}}</option>
        </select>
        <input type="submit" value="Save">
        <p *ngIf="error.isActive" class="error">{{error.message}}</p>
        <p *ngIf="info.isActive" class="info">{{info.message}}</p>
    </form>
</div>