<div class="interview">
    <form *ngIf="!isInterviewStarted" class="config" [formGroup]="configForm">
        <h1>Interview configuration</h1>
        <input type="text" name="tag" id="tag" readonly="True" required="true" formControlName="tag" placeholder="Choose questions tags for interview...">
        <div class="all-tags">
            <p>Topics: </p>
            <ul>
                <li *ngFor="let tag of tags" (click)="chooseTag(tag.id, tag.tag)">{{tag.tag}}</li>
            </ul>
        </div>
        <button (click)="startInterview()">Start interview</button>
    </form>
    <form *ngIf="isInterviewStarted && !isInterviewEnded" class="chat">
        <h1>Question</h1>
        <h2 class="question">{{currentQuestion?.question}}</h2>
        <textarea class="answer"></textarea>
        <button type="button" (click)="sendAnswer()">Send answer</button>
    </form>
    <form *ngIf="isInterviewEnded" class="end-interview">
        <h2>This is the end of the Interview. Thanks for coming!</h2>
        <div class="buttons">
            <button type="button" (click)="resetInterview()">Reset Interview</button>
            <button type="button" (click)="backToConfig()">Back to setup</button>
        </div>
    </form>
</div>
