@import "../../../variables.sass"

.interview
    @include flexColumnCenter($isCenter: true)
    padding: $paddingTopBottom

    form
        @include flexColumnCenter($isCenter: true)
        width: 50%

        h1
            margin-bottom: 40px

        h2
            padding: $paddingTopBottom

        textarea
            @include inputTextAreaFormat()

    button
        @include buttonFormat($darkSecondaryCol, $txtLightCol)
        margin: 20px 0

.config
    input[type="text"]
        @include inputTextFormat()

    label
        @include labelFormat()
        display: flex

    .all-tags
        width: 100%
        display: flex

        p
            display: flex
            align-items: center

        ul
            display: flex
            flex-wrap: wrap
            margin: 10px 0

            li
                @include buttonFormat($primaryCol, $txtLightCol)
                display: flex
                justify-content: center
                align-items: center
                margin: 10px
                    
    
.end-interview
    button
        margin: 0px 20px

